/* ThemeFirstSEction Start */
.carousel-fade {
    .carousel-inner {
        .slider-img {
            height: 91vh;
        }

        ::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-image: linear-gradient(to bottom, rgba(41, 41, 41, 0.9) 1%, rgba(41, 41, 41, 0.5) 50%, rgba(41, 41, 41, 0.1) 100%);
        }

    }



    .carousel-item {
        padding: 0rem;
        border: none;

        // background-image: (to bottom, rgba(41, 41, 41, .9) 1%, rgba(41, 41, 41, .5) 50%, rgba(41, 41, 41, .1) 100%)
        ::before {
            position: static;
        }

        .carousel-caption {
            padding: 0px;
            bottom: 43%;
            h1{
                font-size: 3.5rem;
            }
            li {
                list-style-position: inside;
                padding: 0rem 1rem;
            }
        }
    }

    .carousel-control-next {
        right: 0;
    }

    .carousel-control-prev {
        left: 0;
        //  background-image: (to bottom, rgba(41, 41, 41, .9) 1%, rgba(41, 41, 41, .5) 50%, rgba(41, 41, 41, .1) 100%)
    }

}

.First-section {
    .First-section-wrapper {
        background-image: url("../../assest//firstsectionbg.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 7rem 0;
        text-align: center;
        color: #fff;
        background-position: center;
        position: relative;
        z-index: 10;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(41, 41, 41, .9) 1%, rgba(41, 41, 41, .5) 50%, rgba(41, 41, 41, .1) 100%);
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        h1 {
            text-align: center;
            color: #fff;
        }
    }
}